<!-- Hero Parallax Video -->
<% let img_id = Math.floor(Math.random() * HEADER_BANNER.length); %>
<% let index = Math.floor(Math.random() * 5) + 1 %>
<div class="video-parallax-container">
    <video class="parallax-video" autoplay muted loop playsinline>
        <source src="./assets/videos/<%= index %>.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container video-content aos" data-aos="fade-up">
        <h1 class="text-white-50"><%= component_text.t_orientation_title %></h1>
        <p><%= component_text.t_orientation_desc %></p>
    </div>
</div>
<!-- /Hero Parallax Video -->
<!-- Orientation Items -->
<section class="faq-info my-5 aos" data-aos="fade-right">
    <div class="container accordion">
        <% for (let i = 0; i < documents.length; i++) { %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= i %>">
                    <a href="javascript:;" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>"><%= documents[i].title %></a>
                </h2>
                <div id="collapse<%= i %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= i %>" data-bs-parent="#faq-details">
                    <div class="accordion-body mb-3">
                        <div class="accordion-content">
                            <p><%= documents[i].desc %></p>
                        </div> 
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-danger text-white" href="<%= 'assets/documents/' + documents[i].document %>" target="_blank">
                            <i class="fas fa-download me-2"></i>
                            <%= component_text.t_download %> (<%= documents[i].size %>)
                        </a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<!-- /Orientation Items -->